@keyframes backgroundscroll {
  0% {background-position:0,50%;}
  50% {background-position:100%,50%;}
  100% {background-position:0,50%;}
}

header {
  background-image:url(/static/images/navbar-background.jpg);
  margin:0px;
  border-color: #FFFFFF;
  
}
footer {
  background-color:rgb(118, 161, 167);
  color:rgb(235, 235, 235);
}

footerlink{
  text-decoration:none;
  color:rgb(209, 209, 209);
  }

footerlink:visited { color:rgb(84, 107, 136)}

.contact {
  display:inline-block;
}

.bton {
  allign:center;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 750;
  color: #000;
  background-color: #afb0e4;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top:8px;
  background-image:url(/static/images/navbar-background.jpg);
  }


.bton:hover {
  background-color: rgb(52, 114, 228);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  animation-name:backgroundscroll;
  animation-duration:10s;
  animation-iteration-count: infinite;
}

img {max-width:100%;}
.PDFBOX * {max-width:100%;}

.divider {
border-bottom-style:solid;
border-bottom-color:grey;
margin:0px;
width:auto;
padding:15px;
}
  
body * { 
  overflow:hidden; 
  font-family: "Arial";
  position: relative;
  }
body {
  background:white /*rgb(203, 236, 255)*/;
  margin:0px;
}

.BlockDisplay{
  display:inline-block;
}

.ContributionsBox {
  display:inline-block;
  background-color:rgb(145, 172, 177) ;
  border-radius: 10px;
  margin:4%;
  padding:7.5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}





.PDFButton {
  background-color:rgb(145, 145, 168);
  display:block;
  float:none;
  cursor:pointer;

  padding:7.5px;
  margin-top:2.5px;

  border:none;
  border-radius:3px;

  left:auto;
  right:auto;  
 }


.PDFButton:hover {background-color:rgb(102, 102, 121); }

.midsentenceLink {
  color:blue;

}

.signup {
  background-image:url(/static/images/navbar-background.jpg);
  background-position:-400px,0;
  
  animation-name:backgroundscroll;
  animation-duration:10s;
  animation-iteration-count: infinite;

  width:30%;
  height:10%;
  min-width:390px;
  min-height:74px;

  font-size:300%;
  filter: sepia(100%);

  margin-bottom:1cm;
  border-radius:10px;
  font:400;
}

.past_edition_grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 70%;
    }

.past_edition_grid > div {
  display:inline-block;
  background-color:rgb(118, 161, 167) ;
  border-radius: 10px;
  margin:3%;
  padding:2%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.PDFBOXHeader {
    background-color:rgb(102, 102, 121);
    color:white;
    font-size:20px;

    margin-bottom:5px;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;

    padding:16px;

    border-radius: 10px;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}