
<body>
  
  <div class="divider">
    <div class="ContributionsBox">
      <img class="BlockDisplay" style="border-radius:15px" src="static/images/Glenroyd Logo.jpg"/>
      <div class="BlockDisplay">
        <h3>Christmas and Children's Books</h3>
        <span>Hi<br><br>
My name is Carole Roberts and I am the Secretary of the Glenroyd Medical Patient Participation Group (PPG).  I will give you a few details about the group so that you can decide if you think we are what you may be interested in joining.<br>
It was decided about 3/4 years ago by the then Government that all GP surgeries would be obliged by law to have a PPG.  However, the GP’s at Glenroyd recognised the value of having such a group several years previously and invited a few patients to form a PPG.  <br>
This is how it all started.<br><br>
We have been set up as a more formal committee for about the past 6/7 years. <br> 
The committee consists of a Chairman, Secretary, Treasurer, the Glenroyd Practice Manager and about 10 regular committee members.  <br>
We did this because we run a book stall at Moor Park every other week and hold a Christmas raffle each year.  <br>
Consequently we needed to run ourselves properly as we were raising funds for the benefit of the patients at Glenroyd Medical.<br>
We have monthly meetings which are very friendly and we do try to stick to the agenda although it can drift a bit at times as we are all just ordinary patients of the practice.  <br><br>
The PPG tries to be the voice of the patient and acts as a critical friend to the doctors and staff.  <br>
It is important that you understand that none of us are on the committee to pursue our own agenda or personal aims although our own personal life experiences/careers mean we are able to contribute our diverse skills to the committee, for the good of everyone. 
We have held open days to promote different health issues, run surveys and raised a significant amount of money.  This money has gone into providing various items such as raised armchairs at both practices for people with limited mobility.  More recently we have been able to purchase an examination couch for the District Nurses to use at the Whitegate Drive practice.  This will enable the District Nurses to continue to offer our patients an extra wound dressing service which otherwise would have had to be cancelled.<br>
We hold our meetings on the second Tuesday of each month at the Moor Park practice starting at 4pm.  These meetings usually last for about one to one and a half hours.<br>
If you feel we might be what you are interested in would you please complete one of our online signup forms on our webpage or print one out and return it. <br>
I can’t think of anything else to tell you for now and hopefully I haven’t put you off.<br><br>
Regards, Carole.
		</span>
      </div>
    </div>
  </div>

</body>