    <footer class="divider">
      <div class="contact">
        <div>
          For information or ideas regarding the Newsletter<br>
          Send an Email to us with the subject 'PPG Newsletter':<br>
          <a class="footerlink" href="mailto:Billmacrailway@aol.com">Billmacrailway@aol.com<a> <br>
          <a class="footerlink" href="mailto:Gaffneyelaine@hotmail.com">Gaffneyelaine@hotmail.com<a>
        </div>
<br>
        <div>
          Patient Participation Group E-Mail:<br>
          <a class="footerlink" href="mailto:GlenroydPPG@hotmail.com">GlenroydPPG@hotmail.com<a>
        </div>
<br>
       <div>
          Contact Number for Moor Park:<br>
          01253-953500<br>
          <br>Contact Number for Whitegate Drive:<br>
          01253-951500<br>
        </div>
<br>
        <div>
          <a class="footerlink" href="https://www.glenroydmedical.co.uk/"><img src="static/images/Glenroyd%20Logo.jpg" alt="PPG logo" width="150px"></a>
        </div>
      </div>
<!--<br>Copyright @Placeholder 2020</br>-->
    </footer>