<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PPG</title>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
</head>

<center>
  <header class="divider">
  
    <img src="static/images/GlenroydNoBackGroundLogo.png" alt="PPG logo" width="275px" height="105px">

    <br>
    <a href="index"><button class="bton" alt="Home Button">Home</button></a>
  
    <a href="currentEdition"><button class="bton" alt="Current Edition Button">Newsletter</button></a>
  
    <a href="pastEdition"><button class="bton" alt="All Editions Button">All Editions</button></a>
  
    <a href="signUp"><button class="bton" alt="Sign Up Button">Sign up</button></a> <!--Change as appropriate-->
  
    <a href="contributions"><button class="bton" alt="Contributions Button">Contributions</button></a>

  </header>
</center>