
<html>
  
  <body>
    <div id="header"></div>
    

    <center>
      <div class="divider">
        <img alt="The glenroyds as a family" src="static/images/meet-the-glenroyds.PNG"/>
        <br> The Glenroyd PPG (Patient Participation Group) aims to give Glenroyd patients
        <br>On this site you will find:
        <br>- The comic works of Elaine Gaffney.
        <br>- The signup form for the Patient Participation Group.
        <br>- Other things will go here when we have them.
      </div>
      <div class="divider">
          The PPG Committee is made up of a group of patients who provide
          support to the surgery and staff to foster improved communications
          between the Practice and Patients. It is run by a collection of about a dozen
          patients of assorted interests and professions in a Committee who meet once a
          month with the Practise Manager
        </div>
    </center>
    
    <center>
      <div class="divider">
        <h3>You can sign up to become a member of the PPG <a href="https://www.mysurgerywebsite.co.uk/secure/survey_signup.aspx?p=P81072" class="midsentenceLink">here</a> or download the pdf sign up form <a href="PDF/PatientReferenceGroupSignup.pdf" class="midsentenceLink">here</a> </h3>
      </div>
    </center>



    <div id="footer"></div>
  </body>
</html>