
<body>
  <div id="header"></div>

  <div class="divider">
    <center><h1>Sign up</h1></center>
    <!--The PPR is a group of people dedicated to bringing the best patient care to people who are being treated by the nhs.<br>-->
    <center>
      <a href="https://www.mysurgerywebsite.co.uk/secure/survey_signup.aspx?p=P81072"><button class="PDFButton signup" style="animation-direction: reverse; animation-duration:6s;" alt="Sign up online button">Online</button></a>
      <a href="static/misc/PPG APPLICATION.docx"><button class="PDFButton signup" alt="Sign up using a printed form">Download & print</button></a>
    </center>
     <!--Probably something better to title this button-->

  </div>

  <div id="footer"></div>
</body>